*{
    box-sizing: border-box;

    margin: 0px;
}
body{
    position: absolute;
    height: 100%;
}

main{
    background-color: rgb(233, 233, 237);
    position: relative;
    height: 100%;
}

header{
    padding: 15px 15px;
    /*position:fixed;*/
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: black;
}


.logo{
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
    font-size:20px
}

.menu-item {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}
.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
text-decoration:underline;
}

.container{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: flex-end;

}
.back1{
    background-color: rgb(214, 214, 214);
    width: 75%;
    float: left;
}

.back2{
    background-color:rgb(233, 233, 237);
    width: 75%;
    float: left;
}

/*
.container aside{
    background-color: lightslategray;
    color: antiquewhite;
    float: right;
    text-align: center;
    margin: 10px,0px;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 100px;
}
*/



.container div{
    float : left;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.div1{
    background-color: lightslategray;
    color: antiquewhite;
    float: right;
    text-align: center;
    margin: 10px,0px;
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 100px;
}

.container h2{
    float: left;
}

.conteiner h3{
    float:right;
}


.as1{
    margin: 0px;
    padding: 0px;
    right: 0px;
    top: 0px;
    width: 25%;
    float: right;
    position: relative;
    height: 100%;
    background-color: rgb(233, 233, 237);
}

.imas{
    position: sticky;
    right: 0px;
    top: 100px;
}

footer {
    width: 100%;   
    float: left;
  }

