*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    position: relative;
    background-color: #000;
    padding-bottom: 27px;
}

nav {
    display:flex;
    justify-content: center;
    position: relative;
    align-items:flex-end;
    padding: 10px 0;
}

ul.menu {
    margin: 0;
    padding: 0;
    font-size:20px;
    
}

.menu-item {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
    text-transform: uppercase;
}
.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
text-decoration:underline;
}

.logo{
    width: 100px;
}

video.video-banner{
    width: 100%;
    height: 600px;
    object-fit: fill;
    margin-top: -50px;
    margin-bottom: -60px;
}
.video-img{
    position: absolute;
    top: 40%;
    left: 50px;
    width: 200px;
    z-index: 10;
    box-shadow: 0 0 5px #fff;
    transition: 500ms;
}
.video-img:hover{
    transform: rotateY(360deg);
    box-shadow: 0 0 17px #fff;
}
header h4{
    position: absolute;
    top: 85%;
    left: 100px;
}

/****************************************************************************************/
main{
    background-color: rgb(233, 233, 237);
    position: relative;    
}
.container{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: flex-end;

}


.back1{
    background-color: rgb(214, 214, 214);
    width: 100%;
    float: left;
    height: 100%;
}

.back2{
    background-color:rgb(233, 233, 237);
    width: 100%;
    float: left;
    height: 100%;
}

.div3{
    margin: 10px;
    float : left;
    color: black;
    border-radius: 10px;
}
.div3 div{
    float : left;
    color: black;
    background-color: white;
    border-radius: 10px 0px 0px 10px;;
    height: 195px;
}

.div3 div:nth-child(3){
    background-color: lightslategray;
    color: antiquewhite;
    float: right;
    text-align: center;
    padding-top: 85px;
    height: 195px;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
    width: 75px;
}
.div3 p{
    width: 200px;
    font-size: 12px;
    text-align: left;
    padding: 5px 5px 15px 5px;
}
.div3 img{
    padding-top: 5px;
}



.div2{
    width: 75%;
    display: flex;
    flex-flow: column;
}

h2{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
}

h3{
    margin-left: 5px;
    font-size: 14px;
    text-align: left;
    
}

.as1{
    margin: 0px;
    padding: 0px;
    right: 0px;
    top: 0px;
    width: 25%;
    position: absolute;
    height: 100%;
    background-color: rgb(233, 233, 237);
}

.imas{
    position: sticky;
    top: 10px;
}

/**********************************************************************************/

footer {
    padding: 20px 0;
    width: 100%;   
    text-align: center;
    background-color: #202020;
  }

  footer div h4{
    margin-top: 20px;
}

footer p{
    margin-top: 20px;
}
