*{
    margin: 0;
    padding: 0;
}
main{
    position: absolute;
    top: -10px;
    z-index: -2;
}

article.presentacion{
    display: flex;
    column-gap: 20px;
    align-items: flex-end;
}

div.pelicula{
    width: 25%;
}

.divtrailer{
    width: 75%;
    height: 100vh;
}

iframe.trailer{
    width: 100%;
    height: 100%;
}


article.presentacion > .pelicula > img{
    transition: 500ms;
}
article.presentacion > .pelicula > img:hover{
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.512);
}

article.presentacion > .pelicula .descripcion-parrafo{
    margin-top: 10px;
}




/*************************************/

@media screen and (max-width: 768px){
    main{
        position: relative;
    }
    article.presentacion{
        display: block;
    }
    div.pelicula{
        width: 100%;
        display:flex;
        margin: 50px 0;
        text-align: left;
        align-items: center;
    }
    div.pelicula > img{
        margin-right: 20px;
    }

    .divtrailer{
        width: 100%;
    }
}

@media screen and (max-width: 480px){

    div.pelicula{
        margin-left: 10px;
    }
    div.pelicula .descripcion{
        padding-right: 25px;
    }
}