body{
    padding:0;
    margin:0;
    background-color: black;
    color: white;
}

header{
    padding: 15px 15px;
 /*position:fixed;*/
display:flex;
align-items:center;
justify-content: space-between;
}

.logo{
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
font-size:20px
}

.menu-item {
    display: inline-block;
    list-style: none;
padding: 0 15px;
}
.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
text-decoration:underline;
}

.div-iframe{
    margin: 0;
    padding: 0;
}

iframe {
    width: 100vw;
}


main section.estrenos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: center;
}

main section.estrenos article {
    width: calc(100%/4);
    /*overflow: hidden;*/
}
main section.estrenos article img{
    box-shadow: 0 0 5px #fff;
    transition: 500ms;
}
main section.estrenos article img:hover{
    transform: scale(1.05);
}


@media screen and (max-width: 768px) {
    main section.estrenos article {
        width: calc(100%/2);
    }
}