*{
    box-sizing: border-box;
    flex-flow: wrap;
    margin: 0px;
}
main{
    background-color: rgb(233, 233, 237);
}
header{
    padding: 15px 0;
    background-color: black;
    margin: 0px;
}


.logo{
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

.menu-item {
    display: inline-block;
    list-style: none;
}
.menu-item a {
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: flex-end;

}
.back1{
    background-color: rgb(214, 214, 214);
    width: 75%;
    float: left;
}

.back2{
    background-color:rgb(233, 233, 237);
    width: 75%;
    float: left;
}

.container aside{
    background-color: lightslategray;
    color: antiquewhite;
    float: right;
    text-align: center;
    margin: 10px,0px;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 100px;
}

.container div{
    float : left;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.container h2{
    float: left;
}

.as1{
    position: sticky;
    float: right;
    top: 10px;
    height: 500px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
   
  }

